#left{
    background-color: yellow;
}
#right{
    background-color: gray;
}
ul li{
    color: #FFFFFF;
    list-style-type: none;
    font-size: 14px;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}
.linea1{
    margin-left: 30px;
    font-size: 22px;
    color:#1E2D3B;
    
}
.linea2{
    margin-left: 30px;
    font-size: 22px;
    color:#1E2D3B;
}
.img{
    margin-left: 15px;
}
